.raul {
    font-family: 'Tangerine', serif;
    font-size: 60px;
    text-shadow: 4px 4px 4px #aaa;
}

/* .raul h1 {
    font-size: 4.0rem;
} */

/* .raul2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
} */